snippet rcomp
import React from 'react'

const ${1:`!v expand('%:t:r')`} = () => (
  $2
)

export default $1
endsnippet


snippet pt
import PropTypes from 'prop-types'
endsnippet

snippet ptd
${1:`!v expand('%:t:r')`}.propTypes = {
  $2
}
endsnippet
